.section3{
    background-color:#a1c927 ;
    padding-bottom: 5%;
}
.section3 h1{
    text-align: center;
    padding-top: 4%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}